# Exemple de fichier de variables d'environnements

# Variables utiles pour chaque image
proxy=http://proxy:3128
dns_ip=x.x.x.x
dns_host=example

# Variables pour la plage d'ip du network docker (utile pour pgrouting-procedures aussi)
iprange=x.x.x.x/24

# Scripts pour les tests 
scripts=/home/user/scripts

## Fichier contenant les informations de connexion à la base de données
db_config_file=/home/user/data/pgr_config.csv
